* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


main {
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
  min-height: 100vh;
  max-height: 100dvh;
}

[data-profile-wrapper] {
  display: flex;
  flex-direction: row;
}


[data-profile] {
  width: 5em;
  padding-inline: .3em;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  top: 0;
  transition: all .4s cubic-bezier(.16, 1, .3, 1);
  align-items: center;
}

[data-profile] div {
  border-radius: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}

img {
  object-fit: contain;
  width: 100%;
  scale: 1.1;
  filter: grayscale(100%);
  pointer-events: none;
}

[data-profile].sibling-far img {
  filter: grayscale(80%);
  /* scale: .8; */
}

[data-profile].sibling-close img {
  filter: grayscale(40%);
}


@media (hover:hover) and (pointer: fine) {
  [data-profile]:hover {
    cursor: pointer;
  }


  [data-profile].hover {
    top: -.2em;

  }

  [data-profile].hover img {
    /* transition: filter .2s ease-in; */
    /*don't use transition when using filter it causes a blur overlay on the image - makes it look unpolished*/
    filter: grayscale(0%);
  }
}